body {
    background-color: #000;
}

body, p, h1, h2, h3, h4, h5, h6, a, li, span, div, textarea, select, button {
    color: green;
}

input, select {
    color: black;
}

.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.button {
    /* make button purple with round corners */
    background-color: #4B5195;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

/* make inputs vertically stacked using flex */
.form {
    display: flex;
    flex-direction: column;
    /* max width 350px */
    max-width: 350px;
    height: 391px;
    /* make elements aligned center */
    align-items: center;
}

.form input,
.form select,
.form button {
    width: 258px;
    height: 61px;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container input {
    margin-right: 8px;
}

.nav-container .button {
    margin-left: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5em;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

