body {
    background-color: #000;
}

body, p, h1, h2, h3, h4, h5, h6, a, li, span, div, input, textarea, select, button {
    color: #fff;
}

.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.section_one {
    display: flex;
    flex-direction: column;
}

.chart {
    width: 540px;
    height: 247px;
    background-color: bisque;
    display: flex;
}

.button {
    /* make button purple with round corners */
    background-color: #4B5195;
    border-radius: 5px;
    width: 258px;
    height: 46px;
}

/* make inputs vertically stacked using flex */
.form {
    display: flex;
    flex-direction: column;
    /* max width 350px */
    max-width: 350px;
    height: 391px;
    /* make elements aligned center */
    align-items: center;
    padding-top: 24px;
}

.form input {
    margin: 12px 0px 12px 0px;
    width: 258px;
    height: 61px;
}

.authentication {
    display: flex;
    flex-direction: column;
    /* max width 350px */
    max-width: 350px;
    height: 391px;
    /* make elements aligned center */
    align-items: center;
    padding-top: 24px;
}

.authentication input {
    margin: 12px 0px 12px 0px;
    width: 258px;
    height: 61px;
}
